.add-product h1{
        text-align: center;
        color: blueviolet;
        margin-top: 110px;
    
}

.add-product p{
        text-align: center;
        color: green;
        margin-top: 50px;
    
}