table{
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
}

table td,table th{
    border: 1px solid blueviolet;
    padding: 10px;
    min-height: 160px;
}
img{
    width: 80px;
    height: 60px;
}

.del_button:hover{
    background-color: red;
    color: white;
    border-color: red;
    border-radius: 6px;
}
.del_message{
    color: red;
}
