table{
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
}

table td,table th{
    border: 1px solid blueviolet;
    padding: 10px;
    min-height: 160px;
}
img{
    width: 80px;
    height: 60px;
}


.del_message{
    color: red;
}
.update_link{
    display: inline;
}

.update_link:hover{
   color: red;
   cursor: pointer;
}

.adjust_update_link{
    margin-left: 1px;
    color: blueviolet;
     margin-left: 14px;
}

.adjust_update_link:hover{
    color: green;
}