.signup h1{
    text-align: center;
    color: blueviolet;
    margin-top: 110px;
}

.Login h1{
    text-align: center;
    color: blueviolet;
    margin-top: 110px;
}

.auth-toggle-link{
    color: blueviolet;
    margin-top: 20px;
    text-align: left;
    cursor: pointer;
}