/* You can add global styles to this file, and also import other style files */
body{
 font-family: sans-serif;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}

.common-form{
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 35%;
}

.form-input{
    height: 35px;
    margin-top: 20px;
    border: 1px solid blueviolet;
    color: blueviolet;
    padding-left: 15px;
    border-radius: 5px;
}

.form-button{
    height: 35px;
    margin-top: 30px;
    border: 1px solid blueviolet;
    color: blueviolet;
    padding-left: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.form-button:hover{ 
    background-color: blueviolet;
    color: white;
    border: 1px solid white;
    
}